// Dark color scheme
$dark-theme-black:#151515;
$dark-theme-maire:#222222;
$dark-theme-charcoal:#383838;
$dark-theme-silver:#B0B0B0;
$dark-theme-light:#F2F2F2;
$dark-theme-red:#E75B4F;

// Light color scheme
$light-theme-white:#FFFFFF;
$light-theme-charcoal:#515151;
$light-theme-gray:#D1D1D1;
$light-theme-light-gray:#EEEEEE;
$light-theme-dark:#151515;
$light-theme-red:#D62617;